<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>{{ todoList.title }}</h1>
            {{ helper_Form_create(todoItem) }}
            <fieldset>
                <legend>{{ __('Add item') }}</legend>
                {{ helper_Form_hidden(__('todo_list_id'), {'value': todoList.id}) }}
                {{ helper_Form_control(__('title')) }}
                {{ helper_Form_control(__('notes', {type: 'textarea'})) }}
                {{ helper_Form_control(__('is_completed')) }}
                {{ helper_Form_control(__('due_date', {'empty': true})) }}
                {{ helper_Form_control(__('parent_id', {'empty': true, 'options': parentTodoItems})) }}
            </fieldset>
            {{ helper_Form_button(__('Submit')) }}
            {{ helper_Form_end() }}
        </div>
    </div>
</div>
