{% do _view.assign('title', todoList.title ~ ' - ' ~ __('Add item')) %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>{{ todoList.title }}</h1>
            {{ helper_Form_create(todoItem) }}
            <fieldset>
                <legend>{{ __('Add item') }}</legend>
                {{ helper_Form_hidden('todo_list_id', {'value': todoList.id}) }}
                {{ helper_Form_control('title') }}
                {{ helper_Form_control('notes', {type: 'textarea'}) }}
                {{ helper_Form_control('show_in_my_day') }}
                {{ helper_Form_control('due_date', {'empty': true}) }}
                {{ helper_Form_control('is_completed') }}
                {{ helper_Form_control('parent_id', {'empty': true, 'options': parentTodoItems}) }}
            </fieldset>
            {{ helper_Form_button(__('Submit')) }}
            {{ helper_Form_end() }}
        </div>
    </div>
</div>
