{% do _view.assign('title', title) %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>{{ title }}</h1>
            <small>{{ notes }}</small>
            {% for todoItem in todoItems %}
                <div class="row flex-nowrap py-2 border-bottom">
                    <div class="col-auto pr-0">
                        {{
                            helper_Form_create(todoItem, {
                                'class': 'submit-on-change',
                                'url': {
                                    'controller': 'TodoItems',
                                    'action': 'updateIsCompleted',
                                    '0': todoItem.id
                                }
                            })
                        }}
                        {{ helper_Form_checkbox('is_completed') }}
                        {{ helper_Form_end() }}
                    </div>
                    <div class="col">
                        <div style="text-indent: {{ todoItem.level }}em">
                            {% if todoItem.is_completed %}
                                <del>{{ todoItem.title }}</del>
                            {% else %}
                                {{ todoItem.title }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p>{{ __('List has no items yet...') }}</p>
            {% endfor %}
        </div>
    </div>
</div>
